// foundations
@use "foundations/rest";
@use "foundations/variables";
@use "foundations/fonts";
@use "foundations/mixins";
@use "foundations/swiper";
@use "foundations/swiper-vars";
@use "foundations/swiper-bundle";

// layout
@use "layout/header";
@use "layout/inner";
@use "layout/footer";
@use "layout/breadcrumb";
@use "layout/slider";
@use "layout/table";

// object (Component, Project, Utility)
@use "object/component/title";
@use "object/component/button";
@use "object/component/form";

@use "object/utility/bg";
@use "object/utility/respond";
@use "object/utility/text";
@use "object/utility/animation";

// project
@use "project/home";