@use "../../foundations/variables" as *;
@use "../../foundations/mixins" as *;

// ==========================================================================
// Common Button
// ==========================================================================
.c-small-button {
  background-color: $color-red;
  color: $color-white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @include width-vw(150, 160);
  @include height-vw(40, 40);
  @include font-vw(14, 14);
  @include border-radius-vw(5, 5);
  @include sp-only {
    font-weight: $font-weight-medium;
  }
  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
    @include right-vw(10, 10);
    @include width-vw(30, 30);
    @include height-vw(30, 30);
  }
  &.--search {
    &::after {
      background: url(../../assets/images/common/icon-look-white.svg) no-repeat
        center / 100%;
    }
    @include padding-right-vw(10, 10);
  }
  &.--mail {
    &::after {
      background: url(../../assets/images/common/icon-mail-white.svg) no-repeat
        center / 100%;
    }
    @include padding-right-vw(22, 22);
  }
}

.c-button-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
  font-weight: $font-weight-medium;
  background-color: $color-red;
  position: relative;
  @include border-vw(1, 1,solid, $color-red);
  @include padding-top-vw(4, 4);
  @include padding-right-vw(15, 15);
  @include font-vw(16, 16);
  @include width-vw(286, 286);
  @include height-vw(62, 62);
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url(../../assets/images/common/arrow-button-white.svg) no-repeat
      center / 100%;
    transition: $transition;
    @include width-vw(36, 36);
    @include height-vw(36, 36);
    @include right-vw(15, 15);
  }
  &.--white {
    background-color: $color-white;
    color: $color-red;
    border-color: $color-white;
    &::after {
      background-image: url(../../assets/images/common/arrow-button-red.svg);
    }
    &:hover {
        @include pc-only {
      background-color: $color-red;
      color: $color-white;
    }
    &::after {
      @include pc-only {
        background-image: url(../../assets/images/common/arrow-button-white.svg);
      }
    }
    } 
  }
  &:hover {
    @include pc-only {
      opacity: 1;
      background-color: $color-white;
      color: $color-red;
    }
    &::after {
      @include pc-only {
        background-image: url(../../assets/images/common/arrow-button-red.svg);
      }
    }
  }
}
