@use '../../foundations/variables' as *;
@use '../../foundations/mixins' as *;

// ==========================================================================
//  Animation
// ==========================================================================

.fade {
  opacity: 0;
  transition: opacity .6s ease, transform .6s ease;
}

/* 各方向の初期位置（表示前） */
.fade-up    { transform: translateY(30px); }
.fade-down  { transform: translateY(-30px); }
.fade-left  { transform: translateX(30px); }
.fade-right { transform: translateX(-30px); }

/* アクティブ状態（表示後） */
.fade.is-show {
  opacity: 1;
  transform: translate(0, 0);
}
