@use "../foundations/variables" as *;
@use "../foundations/mixins" as *;

/* ==========================================================================
   Layout - Inner
   ========================================================================== */

.l-inner {
  margin-inline: auto;
  position: relative;

  /* small */
  &.--sm {
    @include padding-left-vw(240, 20);
    @include padding-right-vw(240, 20);
  }

  /* medium */
  &.--md {
    @include padding-left-vw(156, 20);
    @include padding-right-vw(156, 20);
  }

  /* large */
  &.--lg {
    @include padding-left-vw(80, 20);
    @include padding-right-vw(80, 20);
  }

  &.--sp-p0 {
    @include sp-only {
      padding: 0;
    }
  }
}
